.board-list{
    width:700px;
    margin: auto;
}
.board-detail {
    width: 700px;
    margin: auto;
    text-align: left;
}
.board-contents{
    padding: 12px 8px;
    border-bottom: 1px soild #eee;
}
.common-buttons{
    padding:8px;
    text-align: center;
}